* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    margin: auto;
    padding: 20px;
    max-width: 1100px;
    height: 100vh;
    position: relative;
    font-family: 'Courier New', Courier, monospace;
}

.to_do {
    position: relative;
    min-width: 200px;
    padding: 10px 20px;
    border: 2px solid #ccc;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.progress {
    font-size: 12px;
}
.progress span + span{
    margin-left: 10px;
}

.to_do_buttons button + button{
    margin-left: 15px;
}

.to_do_add,
.to_do_back,
.to_do_delete,
.form_add button {
    height: 30px;
    padding: 4px 12px;
    cursor: pointer;
    font-weight: bold;
    border: unset;
    border-radius: 4px;
    background-color: cadetblue;
    transition: .2s;
}

.to_do_back {
    color: #fff;
    background-color: #000;
}

.to_do_delete {
    color: #fff;
    background-color: #eb6464;
}

.to_do_add:hover,
.to_do_back:hover,
.to_do_delete:hover,
.form_add button:hover {
    transform:  scale(1.05);
}

.to_do_add:disabled,
.to_do_back:disabled,
.to_do_delete:disabled,
.form_add button:disabled {
    cursor: auto;
    color: #3f3f3f;
    background-color: #ccc;
}

.to_do_add:hover:disabled,
.to_do_back:hover:disabled,
.to_do_delete:hover:disabled,
.form_add button:hover:disabled  {
    transform:  scale(0.95);
}

span.bgc {
    transition: .2s;
    z-index: -1;
    top: -1px;
    left: 0px;
    height: 102%;
    border-radius: 6px;
    position: absolute; 
}

span.bgc.danger{ background-color: #eb6464; }
span.bgc.warning{ background-color: #ebb764; }
span.bgc.success{ background-color: #5cb744; }

.form_add {
    padding: 20px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.form_add input {
    padding: 4px 12px;
    text-align: center;
    border-radius: 2px;
    border: 2px solid #000;
}