* {
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
}

body {
	padding-bottom: 20px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
	display: flex;
	align-items: flex-start;
}