/*Light Theme*/
$l-mainBgc: #fff;
$l-squareBgc: #6d6868b4;
$l-mainColor: #6d6868;

/*Dark Theme*/
$d-mainBgc: #1e1f25;
$d-squareBgc: #ffffff33;
$d-mainColor: #fcfcfc;


/*Static Color*/
$colorBlob: #BBBBBB91;


/*Form*/ /*Dark*/
$d-info_bgc: #fff;
$d-info_color: #6d6868;
/*Light*/
$l-info_bgc: #6d6868;
$l-info_color: #fff;